* text=auto

# Source & project files use LF in the repo
*.c      text eol=lf
*.h      text eol=lf
CMakeLists.txt text eol=lf
*.cmake  text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.html   text eol=lf
*.css    text eol=lf
*.js     text eol=lf
*.txt    text eol=lf
